div{border: 1px solid; padding: 10px;}
#wrapper1{width: 100%;}
#wrapper2{}
#wrapper3{}
#barrafija {position: fixed;
            background-color: #666;
            width: 100%;
            top: 0px;
            left: 0px;}

#header {position: relative;float: left;
         width: 70%;}
#buscador{}
/*-------------------- PRINCIPAL --------------------*/
#wrapperPrincipal{
    position: relative;
    width: 100%;
    background-color: #ccc;
}
/*-------------------- Columna Izquierda --------------------*/
#columnaIzquierda{float: left; width: 30%;height:100%;}
#categorias{width: 100%;
            height: 100%;}
/*-------------------- Columna central --------------------*/
#columnaCentral{
    width: 70%;}
#slider{width: 100%;}
#catalogo{width: 100%;}
#producto {float: left; width: 130px;
           background-color: #ccccff;}
/*-------------------- Footer --------------------*/
#footer{
        width: 100%;
        background-color: #333333;
        color: #fff;
}
