/*PALETA COLORES:
COMBINACION 1:
#816139
#cf9a5b
#3A4E4F
#AAB5B5
#7D7D7D
#828282

COMBINACION 2:

*/

#wrapper1{width: 100%;margin-top: 20px;}
#wrapper2{width: 100%;}
#wrapper3{width: 100%;}
/*-------------------- FIXED --------------------*/
#barrafija {position: fixed;
            background-color: #666;
            width: 100%;
            top: 0px;
            left: 0px;}
/*-------------------- HEADER --------------------*/
#logo {float: left;
       width: 70%;
       background-color: #ffcccc;}
#buscador{background-color: #ff9999;}

/*-------------------- PRINCIPAL --------------------*/
#wrapperPrincipal{
    position: relative;
    width: 100%;
    background-color: #ccc;}

/*-------------------- Columna Izquierda --------------------*/
#columnaIzquierda{float: left; 
                  width: 25%;
                  /*height: 200px;*/
                  background-color: #caacff;}

#categorias{width: 100%; background-color: #9999ff;}

/*-------------------- Columna central --------------------*/
#columnaCentral{}

#slider{width: 100%;
        background-color: #00ccff;
        height: 100px;}
#catalogo{width: 100%;
          background-color: crimson;}
#producto {float: left; 
           width: 25%;
           background-color: #ccccff;}

/*-------------------- Footer --------------------*/
#footer{clear: both;
        width: 100%;
        background-color: #333333;
        color: #fff;}
